body{
    background: rgb(100, 114, 197);
    font: normal 10pt Arial;
    color: aliceblue;
    text-align: center;
    
}

section{
    background: hsl(37, 19%, 92%);
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    color: black;
    margin: auto;

}